* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* max-width: 1000px; */
}

:root {
  --brightColor: rgb(0, 172, 193);
  --bg-color: #94a3b8;
  --bg-color-Zinc: #71717a;
  --colorMenu: #977c7c;
  --colorMenuHover: #ddc2c2;
  --bgcolor: rgb(25, 22, 22);
  --bgLighter: rgb(51, 46, 46);
  --bgLighter_blur: rgb(51, 46, 46, 0.2);
  --font-family: "Questrial", sans-serif;
  --font-famil2: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bgcolor);
  text-align: center;
  overflow: scroll;
  max-width: 960px;
  margin: auto;
}
/* Navbar */
.minus_one,
.two,
.trending {
  max-width: 1000px;
}
.minus_one {
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(22, 22, 22, 1)),
    url("https://images7.alphacoders.com/131/thumbbig-1317117.webp");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.landing_movie {
  color: white;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 200px;
  padding: 10px;
}
.inside_bg {
  height: 100%;
  width: 50%;
  border-radius: 90% 20% 50% 100%;
}

.logo_name > h4 {
  color: aqua;
}
h4 > span {
  color: rgb(255, 255, 255);
  margin-left: -2px;
  font-family: "Questrial", sans-serif;
}
#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 5px 10px rgb(25, 22, 22, 0.2);
  background-color: rgb(25, 22, 22, 0.7);
  z-index: 0;
}
.movie_name {
  font-size: 1.2rem;
  margin: 10px 0px;
}
.inner_landing_div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  width: 90%;
  gap: 15px;
  margin: 10px 0px;
}
h4.active {
  color: rgb(251, 246, 246);
  border: 1px solid rgb(248, 243, 243);
  border-radius: 9px;
  padding: 1px 4px;
}

h4.clicked {
  color: black;
  background-color: aqua;
  padding: 1px 6px;
  border-radius: 9px;
}
.rating,
.watch_bookmark {
  display: flex;
  gap: 2px;
  justify-content: center;
  align-content: center;
}
.watch_bookmark {
  margin: 15px 0px;
}

.btn_watch {
  background-color: aqua;
  border: none;
  border-radius: 19px;
  padding: 10px 35px;
}
.btn_watch:hover {
  cursor: pointer;
  background-color: rgb(6, 243, 243);
  transition: all 0.3s;
}

.bookmark_item {
  font-size: 1rem;
  padding: 10px 30px;
}
.span_bookmark:hover,
.bookmark_item:hover {
  cursor: pointer;
  color: aqua;
  transition: all 0.3s;
}
.span_watch {
  font-size: 0.9rem;
  color: black;
}
.fa-regular,
span {
  padding-left: 4px;
}
.span_bookmark {
  padding-left: 9px;
}

/* search div */
.search_div {
  width: 90%;
  border-radius: 19px;
  min-height: 28px;
  border: none;
  padding: 5px 12px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  background-color: rgb(25, 22, 22, 0.5);
}
.search_input > input {
  color: aqua;
  text-align: center;
  width: 90%;
  height: 25px;
  border: none;
  background-color: rgb(25, 22, 22, 0);
}
.lens_img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.search_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  text-align: center;
}
textarea:focus,
input:focus {
  outline: none;
}
/*  */
section.one {
  width: 100%;
  font-size: clamp(2rem, 1px, 6rem);
  color: white;
  padding: 9px 9px;
  background-color: rgb(25, 22, 22, 0.001);
}
.fa-arrow-right {
  margin-left: 20px;
}
.onfocus:hover {
  cursor: pointer;
  color: aqua;
}
.fa-solid:hover {
  color: aqua;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cancel_drop {
  width: 10px;
}
.icon_bookmark > img {
  width: 20px;
}
.menu_logo {
  height: 2px;
  background-color: rgb(215, 215, 215);
  width: 20px;
  margin: 4px;
  border-radius: 1.9px;
}
section.sticky {
  position: fixed;
  max-width: 1000px;
  padding: 9px 15px;
  top: 0;
  left: 0;
  background-color: rgb(25, 22, 22, 0.9);
  margin-top: 0;
  z-index: 10;
  transition: padding 0.8s;
  /* filter: blur(4px); */
}

/* drop down */
.drop_down {
  position: absolute;
  text-align: start;
  padding: 15px 5px;
  left: 1%;
  top: 45px;
  background-color: aqua;
  z-index: 11;
  border-radius: 5px;
}
.drop_down_item {
  list-style: none;
  padding: 7px 7px;
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
}

/* nabar -END */

/* Trending */
.trending {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.trending_details {
  position: absolute;
  bottom: 5%;
  text-align: left;
  padding: 10px;
}
.progress_div {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10%;
  height: 2px;
  margin: 10px 25px;
  border-radius: 3px;
  background-color: black;
}
.next_page {
  position: relative;
  opacity: 0.1;
}
.next_icon {
  position: absolute;
  right: 2%;
  top: 8px;
  width: 20px;
}
.progress_update {
  height: 100%;
  width: 10%;
  background-color: aqua;
  border-radius: 3px;
  box-shadow: 0.5px 0.5px 0.5px 1px aqua;
}

.trending_div {
  background-image: linear-gradient(
      45deg,
      rgba(96, 100, 100, 0.7),
      rgba(0, 255, 255, 0.5)
    ),
    url("https://i.pinimg.com/originals/52/79/a5/5279a591fe7b5aa3b6d2f53d4526a1de.jpg");
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 90vw;
  min-height: 180px;
  margin: 10px 10px;
  border: 1px solid rgb(137, 70, 70, 0.5);
}
.trending_movie {
  font-size: 1rem;
  color: white;
  font-weight: 300;
}
.trending_genre {
  color: aqua;
  font-size: 0.8rem;
  margin-top: 6px;
  font-weight: 400;
}
.trending > h4 {
  font-size: 1rem;
  color: white;
  font-weight: 400;
  margin: 20px 0px;
}
/*  */

.menu_movies_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 0.8rem;
  color: grey;
  margin-bottom: 14px;
}
.movies_btn,
.shows_btn {
  font-weight: 300;
  border: 1px solid rgb(128, 128, 128, 0.3);
  border-radius: 4px;
  padding: 2px 5px;
}
.movies_btn.on,
.shows_btn.on {
  padding: 2px 5px;
  border: 0.8px solid rgb(0, 255, 255);
  color: aqua;
}
/* end -  */
/* start -
 */
section.two {
  padding: 20px 8%;
  margin-top: 20px;
}

section {
  transition: all 0.3s ease-in;
}

/* section > div {
  font-size: clamp(3rem, 3vh, 6rem);
} */
.wrapper {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.wrapper_div {
  overflow: hidden;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  min-height: 350px;
  /* left: 1%; */
  opacity: 0;
  margin-bottom: 20px;
  border: none;
}
.image_div {
  position: relative;
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.image_movie {
  width: 100%;
  height: 70%;
  border-radius: 10px;
}
.genre {
  border: 0.5px solid gray;
  padding: 2px 7px;
  border-radius: 9.5px;
}
.movie_details {
  padding: 10px 0px;
  background-color: var(--bgcolor);
  display: flex;
  justify-content: space-between;
}
.movie_title {
  margin-top: 5px;
  padding-bottom: 5px;
  color: white;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: left;
}
.movie_details > h4 {
  color: gray;
  font-size: 0.7rem;
  font-weight: 300;
}
.menu_movies_div > h4:hover {
  cursor: pointer;
  border: 0.8px solid rgb(0, 255, 255);
  color: aqua;
  transition: padding 0.3s;
}
.image_div:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition: 0.3s ease-in-out;
}
.play_btn {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
}
.cover_div {
  position: absolute;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    rgba(0, 255, 255, 0.7),
    rgba(0, 255, 255, 0.9)
  );
}

/*  */
.shadowed {
  background: white;
  height: 400px;
  margin: 100px;
  padding: 20px;
  position: relative;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  opacity: 0.5;
}
.wrapper_div h5 {
  text-align: justify;
  font-size: clamp(1rem, 2vh, 3rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

.wrapper_div.scroll {
  left: 0;
  opacity: 1;
  transition: all 0.5s;
}
.wrapper div.one {
  background-color: white;
}
p {
  font-size: clamp(3rem, 3vh, 6rem);
  padding: 20px 8%;
}

/* Fade-In-Animation */

.fadeinTop {
  animation: fadeinTop 1.2s both;
  -webkit-animation: fadeinTop 1.2s both;
  -moz-animation: fadeinTop 1.2s both;
  -o-animation: fadeinTop 1.5s both;
}

@keyframes fadeinTop {
  0% {
    opacity: 0;
    /* margin-top: 10px; */
    -webkit-transform: translateX(-2px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

.hidden {
  display: none;
}

.shadowed {
  background: white;
  height: 400px;
  margin: 100px;
  padding: 20px;
  position: relative;
}

.shadowed::after {
  border-radius: 0 0 300px 300px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  content: "";
  display: block;
  height: 350px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
